@import '../../variables';

.footer {
  text-align: left;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  padding: 16px $gap-small $gap-small $gap-small;

  @media only screen and (min-width: $break-mobile) {
    position: absolute;
    bottom: 0;
  }
}
