.play {
  background: rgba(0, 0, 0, 0.2);
  padding: 8px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-shadow: inset 0 0 35px black;
  min-height: calc(85vh - 75px);

  &__content {
    padding: 8px;
  }

  &__nav {
    padding: 8px;

    &--menuItem {
      font-family: "MKBroken";
      width: 100%;
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
}

.greet {
  $size: 40px;

  &__resources {
    display: flex;
  }

  &__resource {
    flex: 1;
    display: flex;

    &--icon {
      flex: 3;
      text-align: right;
      position: relative;

      img {
        height: $size;
        width: $size;
      }
    }

    &--number {
      flex: 2;
      text-align: left;
    }
  }
}
