@import '../../../variables';

.play {
  min-height: calc(85vh - 75px);
  position: relative;

  &__content {
    padding: $gap;
    height: $content-height;

    @media only screen and (min-width: $break-mobile) {
      flex: 3;
    }
  }

  &__info {
    @media only screen and (min-width: $break-mobile) {
      flex: 1;
    }
  }

  &__nav {
    padding: $gap;

    &--menuItem {
      display: block;
      margin: 0 auto;
      font-family: 'MKBroken';
      width: 100%;
      max-width: 250px;
      font-size: 1.8rem;
      line-height: 3rem;

      @media only screen and (min-width: $break-mobile) {
        max-width: 100%;
      }
    }
  }

  @media only screen and (min-width: $break-mobile) {
    display: flex;
    height: 100%;
  }
}

.greet {
  $size: 40px;

  &__resources {
    display: flex;
  }

  &__resource {
    flex: 1;
    display: flex;

    &--icon {
      flex: 3;
      text-align: right;
      position: relative;

      img {
        height: $size;
        width: $size;
      }
    }

    &--number {
      flex: 2;
      text-align: left;
    }
  }
}
