@import '../../../../variables';

.char {
  height: 100%;
  overflow-y: scroll;
}

.createChar {
  width: 90%;
  margin: 0 auto;
}

.selectCharacter {
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem 2rem 0.3rem 2rem;

  > * {
    flex: 1;
  }
}

.myCharacter {
  $line-color: 1px solid rgba($font-colour, 0.3);

  overflow: hidden;
  border: $line-color;
  border-radius: 8px;
  padding: 8px;

  h2,
  h4 {
    padding: 0;
    margin: 0;
  }

  .portrait {
    float: left;
    margin: 8px;
  }

  &--inverted {
    .portrait {
      float: right;
    }
  }

  &--section {
    font-size: 1.1rem;

    h4 {
      font-size: 1.15rem;
      padding-left: 4px;
      margin-top: 12px;
      border-bottom: $line-color;
    }
  }
}

.charIconSelect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  &__portrait {
    padding: 3px;
    text-align: center;
    cursor: pointer;

    & > *:first-child {
      margin: 0 auto;
    }

    &:hover > *:first-child {
      filter: brightness(110%);
    }
  }
}
