@import '../../../../variables';

.map {
  height: 100%;

  &__select {
    display: flex;
    height: $button-height;

    &--option {
      flex: 1;
      text-align: center;
    }

    button {
      width: 200px;
    }
  }

  &__view {
    height: calc(100% - #{$gap + $button-height});
    padding: 8px;
    text-align: center;

    img {
      max-width: calc(100% - #{$gap * 2});
      max-height: 100%;
    }
  }
}
